<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="GuruTesting">
    <listeners>
        <listener class-name="listeners.ListnerClass"></listener>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>

    </listeners>
    <test name="HomePageTest">
        <classes>
            <class name="tests.TestClass"/>
        </classes>
    </test>
</suite>